{% extends "base.html" %}
{% block content %}
    <p>Questo è un servizio di API rest</p>
    <form action="http://127.0.0.1:5000/sub" method="POST">
        <input type="text" name="sub" id="sub" required>
        <input type="submit" value="submit">
    </form>
    <div class="text"></div>
        <script>
            textEl = document.querySelector(".text");
            fetch("http://127.0.0.1:5000/sub/0")
            .then(res=>res.json())
            .then(data=>textEl.innerText=data)
        </script>
{% endblock %}
